:root {
  /* Primary */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  /* Neutral */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--transparent-white);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  height: 95%;
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

.card__format {
  height: 33.33%;
  padding: 2rem;
}

.card__format img {
  height: 25px;
  margin-bottom: 10px;
}

.card__format p {
  font-size: 0.8rem;
  opacity: 0.5;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.card__format h2 {
  margin-bottom: 1rem;
}

.button {
  text-decoration: none;
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 0.6rem;
}

.button:hover {
  box-shadow: 2px 2px 2px 0px rgba(141, 141, 141, 0.4);
}

.orange {
  color: var(--bright-orange);
}

.dark-cyan {
  color: var(--dark-cyan);
}

.very-dark-cyan {
  color: var(--very-dark-cyan);
}

.card__sendans {
  border-radius: 10px 10px 0 0;
  background-color: var(--bright-orange);
}

.card__SUVS {
  background-color: var(--dark-cyan);
}

.card__luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 10px 10px;
}

/* Atributionm */
.attribution {
  display: flex;
  height: 5%;
  font-size: 11px;
  text-align: center;
  color: lightgray;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  color: lightgray;
}

/*
****************
Media Queries
****************
*/

@media (min-width: 768px) {
  .card {
    height: 95%;
    width: 60%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card__format {
    height: 70%;
    padding: 2rem;
  }
  .card__format img {
    height: 32px;
    margin-bottom: 2rem;
  }
  .card__format p {
    font-size: 0.8rem;
    opacity: 0.5;
    line-height: 2;
    margin-bottom: 4rem;
  }
  .card__format h2 {
    margin-bottom: 1rem;
  }
  .button {
    text-decoration: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 0.6rem;
  }
  .card__sendans {
    border-radius: 10px 0 0 10px;
    background-color: var(--bright-orange);
  }
  .card__luxury {
    background-color: var(--very-dark-cyan);
    border-radius: 0 10px 10px 0;
  }
}

@media (min-width: 960px) {
  .card__format h2 {
    margin-bottom: 2rem;
  }
  .card__format p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 4rem;
  }
  .button {
    padding: 15px;
    border-radius: 50px;
    font-size: 1rem;
  }
}

@media (min-width: 1000px) {
  .card__format img {
    height: 42px;
    margin-bottom: 2rem;
  }
  .card__format h2 {
    margin-bottom: 2rem;
  }
  .card__format p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1200px) {
  .card__format p {
    margin-bottom: 4rem;
    line-height: 2;
  }
}
